name: build

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * *"
  pull_request:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  build-macos-aarch64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          git clone https://codeberg.org/ccxvii/mujs.git
      - name: build
        run: |
          cd mujs
          make release HAVE_READLINE=no
          tar -cJf ./mujs-aarch64-apple-darwin.tar.xz -C ./build/release .

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-aarch64-apple-darwin
          path: ./mujs/mujs-aarch64-apple-darwin.tar.xz
  # build-macos-x86_64:
  #   runs-on: macos-13
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: install
  #       run: |
  #         git clone https://codeberg.org/ccxvii/mujs.git
  #     - name: build
  #       run: |
  #         cd mujs
  #         make release HAVE_READLINE=no
  #         tar -cJf ./mujs-x86_64-apple-darwin.tar.xz -C ./build/release .
  #     - name: Upload
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: mujs-x86_64-apple-darwin
  #         path: ./mujs/mujs-x86_64-apple-darwin.tar.xz
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          git clone https://codeberg.org/ccxvii/mujs.git
      - name: build
        run: |
          cd mujs
          make release HAVE_READLINE=no
          tar -cJf ./mujs-x86_64-unknown-linux-gnu.tar.xz -C ./build/release .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-x86_64-unknown-linux-gnu
          path: ./mujs/mujs-x86_64-unknown-linux-gnu.tar.xz
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          path-type: inherit
          install: >-
            mingw-w64-x86_64-make
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-clang
            mingw-w64-x86_64-perl
            mingw-w64-x86_64-python3
            zip
            unzip
            curl
            wget
      - name: install
        shell: msys2 {0}
        run: |
          git clone https://codeberg.org/ccxvii/mujs.git
      - name: build
        shell: msys2 {0}
        run: |
          cd mujs

          curl -fsSL -o UnicodeData.txt https://www.unicode.org/Public/16.0.0/ucd/UnicodeData.txt
          curl -fsSL -o SpecialCasing.txt https://www.unicode.org/Public/16.0.0/ucd/SpecialCasing.txt

          make release HAVE_READLINE=no
          tar -cJf ./mujs-x86_64-pc-windows-gnu.tar.xz -C ./build/release .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-x86_64-pc-windows-gnu
          path: ./mujs/mujs-x86_64-pc-windows-gnu.tar.xz

  build:
    needs:
      [
        "build-ubuntu",
        "build-windows",
        # "build-macos-x86_64",
        "build-macos-aarch64",
      ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: mujs
          pattern: mujs-*
          merge-multiple: true

      - name: release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "mujs/*.tar.xz"
          allowUpdates: true
          tag: "nightly"
          name: "nightly"
          token: ${{ secrets.GITHUB_TOKEN }}
          commit: main
          replacesArtifacts: true

  post-test:
    needs: ["build"]
    if: startsWith(github.ref, 'refs/tags/')
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: easy-install/easy-setup@v1
        with:
          url: https://github.com/ahaoboy/mujs-build
      - name: test
        run: |
          which mujs
          echo "console.log(1+1)" >> ./test.js
          mujs ./test.js
